@charset "UTF-8";
    body {
        background-color: lightslategrey;
    }
    h1 {
        color: white;
    }
    h2 {
        color: white;
    }
    p {
        color: white;
        text-align: justify;
    }