@font-face {
    font-family:'Space' ;
    src: url('Space Rangers.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
header {
    color: azure;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: xx-large;
    background-image:linear-gradient(#104528, black);
    padding: 40px;
}
body {
    background-color: #E7E5C1;
    
}
main {
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
    font-size: x-large;
    padding-bottom: 60px;
    border-radius: 40px;
    box-shadow: 10px 10px 10px #04040437;

}
a:hover{
    color: white;
}
a{
    background-color: rgb(135, 162, 108);
    color: black;
    font-family: sans-serif;
}
h2 {color: #125731;
    font-family: 'Space';
    background-image:linear-gradient(to right,#94d7b2, white)
}
img{
    display: block;
margin-left: auto;
margin-right: auto;
margin-bottom:
}