@charset "utf-8";
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom,#005C53 , #042940);
    padding: 20px;
}
main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9FC131;
    border-radius: 10px;
    padding: 20px;
    margin: auto;

}