@charset "utf-8";
body {
    background-color:#072520;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    background-color: #013124;
}

header h1 {
    color: #1F9C85;
    font-family: serif;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
header a {
    color: #1F9C85;
    font-family: serif;
    text-align: center;
    font-size: 30px;
}

main h2 {
    color: #1F9C85;
    font-family: serif;    
    font-size: 30px;  
    margin-top: 50px;
    text-align: center;
}  
main p {
    color: #1F9C85;
    font-family: serif;    
    font-size: 20px;  
    text-align: center;
}  

#menu { 
    display: flex;
    flex-direction: column;
}

main div a {
    color: white;
    text-decoration: none;
    font-family: serif;
    font-size: 50px;
    background-color: #1F9C85;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

}
main a {
    color: #1F9C85;
    text-decoration: none;
    font-family: serif;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-decoration: underline;

}

 
#mb{
    display: flex;
    flex-direction: column;
}



footer div a {
    color: #1F9C85;
    font-family: serif;
    text-align: center;
    font-size: 30px;
}